@use "./edit/import";

.edit {
  display: flex;
  flex-direction: column;
  margin: 3em;

  .cards {
    display: flex;
  }

  .calls,
  .responses {
    list-style: none;
    padding: 0;
    flex-basis: 50%;

    li {
      padding: 0.25em;
      cursor: pointer;
      min-height: 1.2em;

      &:empty::after {
        display: block;
        content: "(Click To Edit)";
        text-align: center;
        opacity: 0.5;
      }

      &.add {
        &:hover {
          background-color: inherit;
        }

        display: flex;
        justify-content: center;
      }
    }
  }

  .calls {
    color: #ffffff;
    background-color: #000000;

    li {
      &:hover {
        background-color: #333333;
      }
    }
  }

  .responses {
    li {
      &:hover {
        background-color: #cccccc;
      }
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .delete {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mwc-button {
      --mdc-theme-primary: #ff0000;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: auto;

  .background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: transparentize(#cccccc, 0.7);
  }

  .errors {
    .change {
      white-space: pre;
    }
  }
}

.editing {
  user-select: none;

  .cursor {
    border-left: 1px solid #ffffff;
  }

  .selected {
    background-color: #4285f4;
  }

  .spacer {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    height: 1.2em;
  }
}

.editing-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
