.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 18em;
  max-width: 30em;
  margin: 3em;

  position: relative;

  h1 {
    margin: 0.5em;

    > svg {
      margin-right: 0.25em;
    }
  }

  p {
    margin: 0.5em;
  }

  .version {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: -1em;
    margin-top: -1.5em;

    width: 3em;
    height: 3em;

    background-color: #d81b60;
    color: #ffffff;

    border-radius: 1.5em;

    font-size: 1.5em;

    transform: rotateZ(10deg);

    box-shadow: 0.15em 0.15em 0.4em transparentize(#000000, 0.7),
      -0.05em -0.05em 0.4em transparentize(#000000, 0.7);

    transition: box-shadow 0.5s, margin-top 0.5s;

    &:hover {
      margin-top: -2em;
      box-shadow: 0.3em 0.3em 0.4em transparentize(#000000, 0.7),
        -0.05em -0.05em 0.4em transparentize(#000000, 0.7);
    }
  }

  .methods {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 0.5em;
    }
  }
}

#google-sign-in {
  --mdc-theme-primary: #4285f4;
  --mdc-theme-on-primary: #ffffff;
}

#twitch-sign-in {
  --mdc-theme-primary: #772ce8;
  --mdc-theme-on-primary: #ffffff;
}
