.profile {
  display: flex;
  flex-direction: column;

  margin: 3em;

  .section {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }

  .delete {
    --mdc-theme-primary: #ff0000;

    mwc-button {
      margin-top: 0.5em;
    }
  }
}
